:root {
  --colour-1: rgb(15, 157, 88);
  --colour-2: #fff;
  --colour-3: rgb(32, 31, 80);
  --colour-4: #696775;
  --colour-5: lightgray;

  --dynBlue:#1b365d;
  --dynOrange:#dc582a;
} 

body {
  background-image: url("../imgs/dynata-cool-proto1.png");
  height: fit-content;
  background-size:cover; 
  background-repeat:no-repeat;
}


.arrow {
    border: solid black;
    border-width: 0 .2rem .2rem 0;
    display: inline-block;
    background-color: inherit;
  }
.arrow:hover {
  background-color: inherit;
  border-width: 0 .3rem .3rem 0;
}
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


  button {
    background: var(--colour-5);
    color: var(--colour-3);
    padding: .6rem;
    margin: .2rem 0rem 0rem 1rem;
    border: none;
    border-radius: .2rem;
  } 

  #build, #submit{
    margin: 1.5rem;
    color: var(--colour-2);
    background-color: var(--dynOrange);
  } 
  #build:hover, #submit:hover{
    color: var(--colour-2);
    background-color: var(--dynBlue);
  } 

  #submit{
    display: none;
  }

  button:hover {
    cursor: pointer;
    background: var(--colour-4);
    color: var(--colour-2);
  } 


  .audienceBox {
    background: var(--colour-2);
    padding: 1rem 1rem 1rem 1rem;
    transition: max-height 1s;
    text-align: justify;
    margin: 1rem;
    border-radius: .5rem;
  }
    .expandBtn{
      float: right;
      top: 0;
      right: 0;
    }

  .HEADERAUDIENCE{
    justify-content: left;
    flex-direction: row; 
  }



  .audiencename-box, .country-select{
    margin: 0rem 0rem 0rem 1rem;
    border-radius: 0.1rem;
    border: .1rem solid var(--colour-5);
    padding-left: 1rem;
  }


  .ageBox{
    width: 2.2rem;

    margin: 1rem;
    border-radius: .1rem;
    border: .1rem solid var(--colour-5);
    text-align: center;
  }


  .innerBox{
    position: relative;
    margin: 1rem;
  }
    .addCriteriaBtn{
      position: absolute;
      right: 0rem;

    }

  .criteriaBox{
    border: .16rem solid var(--colour-5);
    margin: 1rem .5rem 1.5rem .5rem;
    padding: .2rem;
    border-radius: .5rem;
    position: relative;
    margin: .5rem;
  }
    .expand-attributes-btn{
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem;
      padding: .5rem;
    }


.HEADERCRITERIA{
margin: .5rem;

} 

.tray{
  min-height: 2rem;
  border: .16rem solid var(--colour-5);
  border-radius: .5rem;
}

.search-attribute-box{
  margin: 0rem 0rem .5rem 0rem;
  border-radius: .1rem;
  border: 0.1rem solid var(--colour-5);
}


.attr-in-tray{
  border: .01rem solid var(--colour-5);
  margin: 0.25rem;
  border-radius: .1rem;
  background-color: var(--colour-4);
  color: var(--colour-2);
  padding-left: .25rem;
}

.attr-in-tray p{
 
    margin: 0;
    padding: 0;
  
}

.delete-attr-btn{
  color: var(--colour-3);
  background-color: var(--colour-4);
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 0;
  

}
.delete-attr-btn:hover{
  color: var(--colour-2);
  font-weight: bold;
} 